.u-section-1 {
  min-height: 718px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 773px;
  background-image: url("images/1.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 74px 470px 0;
}

.u-section-1 .u-image-2 {
  width: 989px;
  height: 500px;
  margin: 29px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 533px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    min-height: 637px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 370px;
    margin-left: 370px;
  }

  .u-section-1 .u-image-2 {
    width: 880px;
    height: 445px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 408px;
  }

  .u-section-1 .u-image-1 {
    min-height: 488px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 260px;
    margin-left: 260px;
  }

  .u-section-1 .u-image-2 {
    width: 660px;
    height: 334px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 306px;
  }

  .u-section-1 .u-image-1 {
    min-height: 366px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -400px;
    margin-right: 190px;
    margin-left: 190px;
  }

  .u-section-1 .u-image-2 {
    width: 520px;
    height: 263px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 193px;
  }

  .u-section-1 .u-image-1 {
    min-height: 230px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -288px;
    margin-right: 90px;
    margin-left: 90px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 162px;
  }
}